vite.config.ts
vite-lib.config.ts
windicss.config.ts
.eslintrc.js
.eslintignore
.husky
.prettierrc
.git
.prettierignore
**/.git/
**/node_modules/
/docs
/public
/coverage
/.vscode
/tests
/temp
/templates
/playground
/src
.github
cypress.json